.image-box {
    margin-bottom: 5px;
    margin-top: 5px;
}

    .image-box img {
        width: 80%;
        border: 2px dashed gray;
    }

    .image-box input[type='file'] {
        display: none;
    }

    .image-box:hover {
        cursor: pointer;
    }

    .image-box .image-upload-button-box {
        text-align: center;
    }

.small-input {
    width: 15%;
    margin-right: 10px;
    float: left;
}

.quarter-input {
    width: 29%;
    margin-right: 10px;
    float: left;
}

.large-input {
    width: 83%;
    margin-right: 10px;
    float: left;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.image-upload-button-box {
    margin-top: 10px;
}

.form-button {
    text-align: center;
    padding-top: 30px;
}

.form-horizontal a {
    display: inline-block;
    margin-bottom: 0;
    padding-top: 11px;
}

.colorImagePreviewCanvas {
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}

    .colorImagePreviewCanvas .fileName {
        margin-left: 15px;
    }

    .colorImagePreviewCanvas .filePreview {
        float: left;
    }

    .colorImagePreviewCanvas .btnUpload {
        float: right;
        margin-left: 10px;
    }

    .colorImagePreviewCanvas .btnCancel {
        float: right;
    }

.input-error-box {
    line-height: 25px;
}

.action-link {
    margin-left: 5px;
    margin-right: 5px;
}

td.center {
    text-align: center;
}

th.center {
    text-align: center;
}

.dataTable_grid {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 15px;
    margin-top: 5px;
}

.dataTables_show_item_div {
    float: left;
}

    .dataTables_show_item_div label {
        margin-right: 10px;
    }

.dataTables_search_div {
    float: right;
}

    .dataTables_search_div label {
        margin-right: 10px;
    }

.h6-style {
    font-size: 13px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: inherit;
}

.info-box {
    margin-top: 10px;
    border-bottom: 2px dashed #2c3e50;
    padding-bottom: 7px;
    font-size: 14px;
}

.login-form {
    margin-top: 60px;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 90px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.card-container.card.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

    .card-container.card.btn.btn-signin {
        /*background-color: #4d90fe; */
        background-color: rgb(104, 145, 162);
        /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        height: 36px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;
    }

        .card-container.card.btn.btn-signin:hover,
        .card-container.card.btn.btn-signin:active,
        .card-container.card.btn.btn-signin:focus {
            background-color: rgb(12, 97, 33);
        }

.card-container.card.forgot-password {
    color: rgb(104, 145, 162);
}

    .card-container.card.forgot-password:hover,
    .card-container.card.forgot-password:active,
    .card-container.card.forgot-password:focus {
        color: rgb(12, 97, 33);
    }

.card-container.card.validation-summary-errors > ul {
    list-style: none;
    font-size: 14px;
    padding-left: 10px;
}

.card-container.card.validation-summary-errors > li {
    list-style: none;
    font-size: 14px;
    padding-left: 10px;
}

.main-content {
    margin-top: 80px;
    font-size: 12px;
}

.nav-dropdown-menu {
}

    .nav-dropdown-menu li:hover {
    }

.nav-dropdown-toggle {
    padding-top: 13px !important;
}

.loading {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("./Image/loading.svg") no-repeat;
    width: 50px;
    height: 50px;
    padding-left: 180px;
    z-index: 9000;
    position: absolute;
}

body, html {
    font-family: 'Roboto', sans-serif !important;
}

.hero_wrapper {
    margin-top: 5px;
    padding-left: 0px !important;
    position: relative;
}

    .hero_wrapper img {
        width: 100%;
        right: 0;
        bottom: 0;
        position: relative;
    }

.hero_info {
    width: auto;
    top: 220px;
    left: 30px;
    color: #ffffff;
    text-shadow: 0 2px 0 rgba(51,51,51,.5);
    line-height: 22px !important;
    height: auto;
    position: absolute;
}

    .hero_info h1 {
        color: #ffffff;
    }

.hero_heading {
    border-width: 0 1px 4px 1px;
    border-color: #e7e7e7;
    border-bottom: 4px solid #e7e7e7;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* list group */
.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.list-group {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
}

    .list-group div.thumbnail {
        /*border-width: 0 1px 4px 1px;
        border-color: #e7e7e7;
        border-radius: 4px;*/
        border: none;
    }

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

    .item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
        background: #428bca;
    }

    .item.list-group-item .list-group-image {
        margin-right: 10px;
    }

    .item.list-group-item .thumbnail {
        margin-bottom: 0px;
    }

    .item.list-group-item .caption {
        padding: 9px 9px 0px 9px;
    }

    .item.list-group-item:nth-of-type(odd) {
        background: #eeeeee;
    }

    .item.list-group-item:before, .item.list-group-item:after {
        display: table;
        content: " ";
    }

    .item.list-group-item img {
        float: left;
    }

    .item.list-group-item:after {
        clear: both;
    }

.list-group-item-text {
    margin: 0 0 11px;
}

.caption-header {
    text-align: center;
    font-size: 15px;
    color: #df691a;
    font-size: 15px;
    font-weight: bold;
}

.thumbnail-ul {
    list-style: none;
    padding: 10px 14px 0px 20px;
}

    .thumbnail-ul li {
        color: #fff;
    }

        .thumbnail-ul li a:hover {
            color: #2b3e50;
            text-decoration: none;
        }

/* end list group*/


.no-underline {
    text-decoration: none !important;
}

.edit-input {
    display: none;
    width: 80px;
    text-align: right;
}

.edit-button {
    display: none;
}

.input-grid-number {
    width: 100px !important;
}

.input-grid-money {
    width: 180px !important;
}

.table-specification {
    margin-left: 15px;
    width: 98%;
}

    .table-specification .specification-header {
        background: #ecf0f1;
        font-weight: bold;
        font-size: 13px;
    }

    .table-specification tr {
        border: 1px solid #2b3e50;
        line-height: 1px;
    }

.add-product-description {
    margin-left: 2px;
}

    .add-product-description > textarea {
        height: 300px;
        max-height: 500px;
    }


/* I wanted to center my loader */
#cycle-loader {
    height: 32px;
    left: 50%;
    margin: -8px 0 0 -8px;
    position: absolute;
    top: 50%;
    width: 32px;
    z-index: 999;
}

/*I want to avoid jumpiness as the JS loads, so I initially hide my cycle*/
#maximage {
    display: none; /* Only use this if you fade it in again after the images load */
    position: fixed !important;
}

/*Set my gradient above all images*/
#gradient {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

/*Set my logo in bottom left*/
#logo {
    bottom: 30px;
    height: auto;
    left: 30px;
    position: absolute;
    width: 34%;
    z-index: 1000;
}

    #logo img {
        width: 100%;
    }

#arrow_left, #arrow_right {
    bottom: 30px;
    height: 67px;
    position: absolute;
    right: 30px;
    width: 36px;
    z-index: 1000;
}

#arrow_left {
    right: 86px;
}

    #arrow_left:hover, #arrow_right:hover {
        bottom: 29px;
    }

    #arrow_left:active, #arrow_right:active {
        bottom: 28px;
    }

.in-slide-content {
    color: #ecf0f1;
    float: right;
    font-family: 'Helvetica Neue', helvetica;
    font-size: 40px;
    font-weight: bold;
    right: 0;
    margin: 40px;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 700px;
    z-index: 9999; /* Show above .gradient */
    text-shadow: 0 1px 0 #fff;
    -webkit-font-smoothing: antialiased;
}

.light-text {
    color: #ddd;
    text-shadow: 0 1px 0 #666;
}

.smaller-text {
    font-size: 30px;
}

#ShowCaseDiv {
    min-height: 800px;
}

.caption {
    text-align: center;
}


/*Contact section*/
.jx-rebuild-contact-info .icon {
    float: left;
    display: inline;
    height: 100px;
    margin-right: 10px;
}

.jx-rebuild-contact-info .item-position {
    margin-left: 5px;
    margin-right: 5px;
}

.jx-rebuild-contact-info .title {
    color: #df691a;
    font-size: 21px;
    font-weight: 600;
    line-height: 35px;
    padding-bottom: 3px;
}

.jx-rebuild-contact-info .phone, .jx-rebuild-contact-info .fax, .jx-rebuild-contact-info .date-time {
    font-family: Arial, Helvetica, sans-serif;
}

.about-div {
}

    .about-div fieldset {
        margin-bottom: 20px;
    }

        .about-div fieldset legend {
            font-size: 20px;
            font-weight: bold;
            line-height: 45px;
        }

ul.products {
    padding-left: 0;
}

    ul.products li {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

.main-content-wrapper {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    padding-top: 20px;
    color: #2b3e50 !important;
}

    .main-content-wrapper h3 {
        color: #df691a !important;
    }

    .main-content-wrapper h2 {
        color: #df691a !important;
    }

    .main-content-wrapper legend {
        color: #df691a !important;
    }

.banner {
}

    .banner img {
        max-width: 100%;
        max-height: 100%;
    }

.contact-wrapper {
    color: #2b3e50;
    margin-top: 25px;
}

    .contact-wrapper .title {
    }

.product-vertical-menu {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
}

.product-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

    .product-wrapper p {
        color: #2b3e50;
    }

    .product-wrapper .product {
    }

    .product-wrapper .product-cover {
    }

        .product-wrapper .product-cover img {
            width: 100%;
            height: 100%;
        }

    .product-wrapper .add-to-cart {
        bottom: 0;
    }

    .product-wrapper .actions {
        position: absolute;
        bottom: 0;
    }

    .product-wrapper .product-feature-wrapper {
        position: relative;
        height: 186px;
    }

.product-feature-wrapper a {
    text-decoration: none;
}

.product-filter-wrapper {
}

    .product-filter-wrapper .btn-group {
        float: right !important;
        width: 108px !important;
        margin-left: 10px !important;
    }

.product-pagination {
    text-align: center;
}

.product-toolbar {
    margin-bottom: 15px;
}

.btn-addToCart {
    font-size: 18px;
    text-transform: uppercase;
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 25px;
    border-radius: 25px 0 0 25px;
    padding: 10px 20px;
    -moz-box-shadow: 0 3px #e5e5e5;
    -webkit-box-shadow: 0 3px #e5e5e5;
    box-shadow: 0 3px #e5e5e5;
    float: left;
    height: 48px;
}

    .btn-addToCart .icon-plus {
        margin: 0px 5px;
    }

.product-detail-quantity {
    padding: 0px;
}

.product-actions .btn-add-to-wishlist {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    padding: 7.4px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #FFF;
    -moz-box-shadow: 0 3px #e5e5e5;
    -webkit-box-shadow: 0 3px #e5e5e5;
    box-shadow: 0 3px #e5e5e5;
    margin-left: -1px;
    font-size: 22px;
}

.product-detail-quantity .quant-input {
    display: inline-block;
    position: relative;
    width: 107px;
    margin-top: 0px;
    vertical-align: top;
}

    .product-detail-quantity .quant-input .arrows {
        position: absolute;
        right: 0px;
        z-index: 2;
        -moz-box-shadow: 0 3px #e5e5e5;
        -webkit-box-shadow: 0 3px #e5e5e5;
        box-shadow: 0 3px #e5e5e5;
        /* height: 99%; */
        top: 0px;
    }

    .product-detail-quantity .quant-input .arrow {
        display: block;
        height: 24px;
        background-color: #d75f33;
        text-align: center;
        padding: 0px 15px;
        vertical-align: middle;
        padding-top: 5px;
        color: #fff;
        cursor: pointer;
    }

        .product-detail-quantity .quant-input .arrow.plus {
            background: #df691a;
        }

        .product-detail-quantity .quant-input .arrow.minus {
            background: #d75f33;
        }

.product-detail-quantity .txt-quantity {
    background: #d35400;
}

.product-detail-quantity .txt-quantity {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #d75f33;
    text-align: center;
    width: 107px;
    /* display: block; */
    color: #FFF;
    -moz-box-shadow: 0 3px #e5e5e5;
    -webkit-box-shadow: 0 3px #e5e5e5;
    box-shadow: 0 3px #e5e5e5;
    padding: 14px 37px 14px 1px;
    height: 48px;
    position: absolute;
    top: 0px;
}

.product-detail-header .product-title {
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 0px;
}

.product-detail-header .product-author {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.product-detail-header .product-author-name {
    color: #21B68E;
}

.detail-product-price {
    margin-top: 9px;
}

.product-detail-body .price {
    background-color: #e67e22;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    bottom: 97px;
    -moz-box-shadow: 0 3px #e5e5e5;
    -webkit-box-shadow: 0 3px #e5e5e5;
    box-shadow: 0 3px #e5e5e5;
    color: #FFFFFF;
    padding: 9px 35px;
    font-size: 24px;
}

.product-detail-body .price-real-price {
    font-weight: 700;
    color: #df691a;
    font-size: 25px;
}

.product-detail-body .price-original {
    font-weight: 300;
    color: #df691a;
    font-size: 13px;
    text-decoration: line-through;
}

.product-detail-body .price-discount {
    font-weight: 300;
    color: #df691a;
    font-style: italic;
    font-size: 13px;
}


.product-description h3 {
    font-size: 24px;
    color: #463f39;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}

.product-description p {
    color: #333;
}

.product-additional-details {
    margin-bottom: 60px;
}

    .product-additional-details .product-detail-tab {
        background: #df691a;
    }

    .product-additional-details legend {
        color: #2b3e50;
    }

.product-detail-tab {
    margin: 45px 0px;
    -moz-box-shadow: 0px 5px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0px 5px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.1) inset;
}

    .product-detail-tab li {
        margin-bottom: 0px;
    }

        .product-detail-tab li a {
            color: #FFF;
            text-transform: uppercase;
            padding: 17px 25px;
            border: none;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            outline: none;
        }

        .product-detail-tab li.active a {
            color: #FFF;
            border: none;
        }

            .product-detail-tab li.active a, .product-detail-tab li.active a:hover, .product-detail-tab li.active a:focus, .product-detail-tab li a:hover, .product-detail-tab li a:focus {
                background: #d75f33;
                border: 1px solid #e67e22;
            }

.tab-content {
    margin-bottom: 40px;
}

footer {
    color: #fff;
    bottom: 0;
}


.table-of-contents {
    font-weight: 300;
    font-size: 14px;
}

    .table-of-contents i {
        margin-right: 10px;
    }

    .table-of-contents a.list-group-item-child {
        background: #fff;
        padding-left: 40px;
    }

    .table-of-contents a.list-group-item:hover {
        background: #df691a;
        font-weight: 500;
    }

.main-title-h3 {
    font-size: 26px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: #2b3e50;
}

.main-title-h6 {
    font-size: 15px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: #2b3e50;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #df691a;
}
