.image-box {
    margin-bottom: 5px;
    margin-top: 5px;
}

    .image-box img {
        width: 80%;
        border: 2px dashed gray;
    }

    .image-box input[type='file'] {
        display: none;
    }

    .image-box:hover {
        cursor: pointer;
    }

    .image-box .image-upload-button-box {
        text-align: center;
    }

.small-input {
    width: 15%;
    margin-right: 10px;
    float: left;
}

.quarter-input {
    width: 29%;
    margin-right: 10px;
    float: left;
}

.large-input {
    width: 83%;
    margin-right: 10px;
    float: left;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.image-upload-button-box {
    margin-top: 10px;
}

.form-button {
    text-align: center;
    padding-top: 30px;
}

.form-horizontal a {
    display: inline-block;
    margin-bottom: 0;
    padding-top: 11px;
}

.colorImagePreviewCanvas {
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}

    .colorImagePreviewCanvas .fileName {
        margin-left: 15px;
    }

    .colorImagePreviewCanvas .filePreview {
        float: left;
    }

    .colorImagePreviewCanvas .btnUpload {
        float: right;
        margin-left: 10px;
    }

    .colorImagePreviewCanvas .btnCancel {
        float: right;
    }

.input-error-box {
    line-height: 25px;
}

.action-link {
    margin-left: 5px;
    margin-right: 5px;
}

td.center {
    text-align: center;
}

th.center {
    text-align: center;
}

.dataTable_grid {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 15px;
    margin-top: 5px;
}

.dataTables_show_item_div {
    float: left;
}

    .dataTables_show_item_div label {
        margin-right: 10px;
    }

.dataTables_search_div {
    float: right;
}

    .dataTables_search_div label {
        margin-right: 10px;
    }

.h6-style {
    font-size: 13px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: inherit;
}

.info-box {
    margin-top: 10px;
    border-bottom: 2px dashed #2c3e50;
    padding-bottom: 7px;
    font-size: 14px;
}

.login-form {
    margin-top: 60px;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 90px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.card-container.card.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

    .card-container.card.btn.btn-signin {
        /*background-color: #4d90fe; */
        background-color: rgb(104, 145, 162);
        /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        height: 36px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;
    }

        .card-container.card.btn.btn-signin:hover,
        .card-container.card.btn.btn-signin:active,
        .card-container.card.btn.btn-signin:focus {
            background-color: rgb(12, 97, 33);
        }

.card-container.card.forgot-password {
    color: rgb(104, 145, 162);
}

    .card-container.card.forgot-password:hover,
    .card-container.card.forgot-password:active,
    .card-container.card.forgot-password:focus {
        color: rgb(12, 97, 33);
    }

.card-container.card.validation-summary-errors > ul {
    list-style: none;
    font-size: 14px;
    padding-left: 10px;
}

.card-container.card.validation-summary-errors > li {
    list-style: none;
    font-size: 14px;
    padding-left: 10px;
}

.main-content {
    margin-top: 80px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.nav-dropdown-menu {
}

    .nav-dropdown-menu li:hover {
    }

.nav-dropdown-toggle {
    padding-top: 13px !important;
}

.loading {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("./Image/loading.svg") no-repeat;
    width: 50px;
    height: 50px;
    padding-left: 180px;
    z-index: 9000;
    position: absolute;
}

body, html {
    background-color: #ffffff;
}

.hero_wrapper {
    margin-top: 5px;
    padding-left: 0px !important;
    position: relative;
}

    .hero_wrapper img {
        width: 100%;
        right: 0;
        bottom: 0;
        position: relative;
    }

.hero_info {
    width: auto;
    top: 220px;
    left: 30px;
    color: #ffffff;
    text-shadow: 0 2px 0 rgba(51,51,51,.5);
    line-height: 22px !important;
    height: auto;
    position: absolute;
}

    .hero_info h1 {
        color: #ffffff;
    }

.hero_heading {
    border-width: 0 1px 4px 1px;
    border-color: #e7e7e7;
    border-bottom: 4px solid #e7e7e7;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* list group */
.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.list-group {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
}

    .list-group div.thumbnail {
        /*border-width: 0 1px 4px 1px;
        border-color: #e7e7e7;
        border-radius: 4px;*/
        border: none;
    }

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

    .item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
        background: #428bca;
    }

    .item.list-group-item .list-group-image {
        margin-right: 10px;
    }

    .item.list-group-item .thumbnail {
        margin-bottom: 0px;
    }

    .item.list-group-item .caption {
        padding: 9px 9px 0px 9px;
    }

    .item.list-group-item:nth-of-type(odd) {
        background: #eeeeee;
    }

    .item.list-group-item:before, .item.list-group-item:after {
        display: table;
        content: " ";
    }

    .item.list-group-item img {
        float: left;
    }

    .item.list-group-item:after {
        clear: both;
    }

.list-group-item-text {
    margin: 0 0 11px;
}

/* end list group*/

.specification-header {
    background: #ecf0f1;
    font-weight: bold;
    font-size: 13px;
}

.no-underline {
    text-decoration: none !important;
}

.edit-input {
    display: none;
    width: 80px;
    text-align: right;
}

.edit-button {
    display: none;
}

.input-grid-number {
    width: 100px !important;
}

.input-grid-money {
    width: 180px !important;
}

.table-specification {
    margin-left: 15px;
    width: 98%;
}

.add-product-description {
    margin-left: 2px;
}

    .add-product-description > textarea {
        height: 300px;
        max-height: 500px;
    }

#ShowCaseDiv {
    min-height: 800px;
}

.caption {
    text-align: center;
}


/*Contact section*/
.jx-rebuild-contact-info .icon {
    float: left;
    display: inline;
    height: 100px;
    margin-right: 10px;
}

.jx-rebuild-contact-info .item-position {
    margin-left: 5px;
    margin-right: 5px;
}

.jx-rebuild-contact-info .title {
    color: #000000;
    font-size: 21px;
    font-weight: 600;
    line-height: 35px;
    padding-bottom: 3px;
}

.jx-rebuild-contact-info .phone, .jx-rebuild-contact-info .fax, .jx-rebuild-contact-info .date-time {
    font-family: Arial, Helvetica, sans-serif;
}

.about-div {
}

    .about-div fieldset {
        margin-bottom: 20px;
    }

        .about-div fieldset legend {
            font-size: 20px;
            font-weight: bold;
            line-height: 45px;
        }
