@{
    ViewBag.Title = "Liên hệ";
}

<div class="index-content-wrapper container-fluid">
    <div class="banner dark-translucent-bg" style="background-image:url('http://htmlcoder.me/preview/the_project/v.1.2/template/images/page-contact-banner.jpg'); background-position: 50% 30%;">
        <div class="breadcrumb-container">
            <div class="container">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                    <li class="active">Liên Hệ</li>
                </ol>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center col-md-offset-2 pv-20">
                    <h2 class="title">Liên Lạc Với Chúng Tôi</h2>
                    <div class="separator mt-10"></div>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.</p>
                </div>
            </div>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="col-md-8 space-bottom">
                    <p class="lead">Rất vui vì bạn đã ghé thăm công ty chúng tôi! Chỉ cần để lại vài dòng và yêu cầu bất kỳ điều gì, tất cả những góp ý của bạn giúp chúng tôi rất nhiều. Chúng tôi hy vọng được gặp bạn lần sau.</p>
                    <div class="alert alert-success hidden" id="MessageSent">
                        We have received your message, we will contact you very soon.
                    </div>
                    <div class="alert alert-danger hidden" id="MessageNotSent">
                        Có lỗi trong quá trình yêu cầu. Vui lòng thử lại!
                    </div>
                    <div class="contact-form">
                        <form id="contact-form" class="margin-clear" role="form" novalidate="novalidate">
                            <div class="form-group has-feedback">
                                <label for="name">Họ và Tên *</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="">
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="email">Địa Chỉ Email *</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="">
                                <i class="fa fa-envelope form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="subject">Tiêu Đề *</label>
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="">
                                <i class="fa fa-navicon form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="message">Nội Dung *</label>
                                <textarea class="form-control" rows="6" id="message" name="message" placeholder=""></textarea>
                                <i class="fa fa-pencil form-control-feedback"></i>
                            </div>
                            <input type="button" id="SendRequestBtn" value="Gửi Yêu Cầu" class="submit-button btn btn-default">
                        </form>
                    </div>
                </div>
                <!-- main end -->
                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-md-3 col-lg-offset-1">
                    <div class="sidebar">
                        <div class="side vertical-divider-left">
                            <h3 class="title logo-font">Công Ty Xây Dựng</h3>
                            <div class="separator-2 mt-20"></div>
                            <ul class="list">
                                <li><i class="fa fa-home pr-10"></i>K10/10 Cầu Giấy<br><span class="pl-20">Hà Nội, Việt Nam</span></li>
                                <li><i class="fa fa-phone pr-10"></i><abbr title="Điện Thoại">P:</abbr> (84) 456-7890</li>
                                <li><i class="fa fa-mobile pr-10 pl-5"></i><abbr title="Điện Thoại">M:</abbr> (84) 456-7890</li>
                                <li><i class="fa fa-envelope pr-10"></i><a href="mailto:han.solo@gmail.com">han.solo@gmail.com</a></li>
                            </ul>
                            <ul class="social-links circle small margin-clear clearfix animated-effect-1">
                                <li class="skype"><a target="_blank" href="http://www.skype.com" style="color:#00aff0;"><i class="fa fa-skype"></i></a></li>
                                <li class="linkedin"><a target="_blank" href="http://www.linkedin.com" style="color: #0976b4;"><i class="fa fa-linkedin"></i></a></li>
                                <li class="googleplus"><a target="_blank" href="http://plus.google.com" style="color: #dd4b39;"><i class="fa fa-google-plus"></i></a></li>
                                <li class="facebook"><a target="_blank" href="http://www.facebook.com" style="color: #3b5998;"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                            <div class="separator-2 mt-20 "></div>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            // focus on the full name input
            $('#FullName').focus();

            $('#SendRequestBtn').on('click', function () {
                var isValid = true;
                var $name = $('#FullName'),
                    $email = $('#EmailAddress'),
                    $content = $('#Content');

                // validate
                if ($name.val() == null || $name.val() == undefined || $name.val().trim() == "") {
                    isValid = false;
                    // show message
                    $name.next().text('Làm ơn nhập họ và tên.').show();
                }

                if ($email.val() == null || $email.val() == undefined || $email.val().trim() == "") {
                    isValid = false;
                    // show message
                    $email.next().text('Làm ơn nhập địa chỉ thư điện tử.').show();
                }

                if ($content.val() == null || $content.val() == undefined || $content.val().trim() == "") {
                    isValid = false;
                    // show message
                    $content.next().text('Làm ơn nhập nội dung yêu cầu.').show();
                }

                if (isValid) {
                    // hide all error message of this form
                    $name.next().text('').attr('style', 'display:none;');
                    $email.next().text('').attr('style', 'display:none;');
                    $content.next().text('').attr('style', 'display:none;');

                    // prepare model
                    var requestContactModel = {
                        FullName: $name.val(),
                        EmailAddress: $email.val(),
                        Content: $content.val()
                    };

                    // call ajax
                    $.ajax({
                        url: staticUrl.SendRequestContact,
                        method: "POST",
                        data: requestContactModel,
                        beforeSend: function () {
                            // add loading
                        },
                        success: function (data) {
                            if (data != null) {
                                if (data.isValid) {
                                    // reset forms
                                    $name.val('');
                                    $email.val('');
                                    $content.val('');

                                    toastr.success('Gửi yêu cầu thành công.');
                                    return;
                                }
                            }

                            toastr.error('Có lỗi xảy ra trong quá trình lưu. Vui lòng thử lại.');
                        },
                        error: function (e) {
                            toastr.error('Có lỗi xảy ra trong quá trình lưu. Vui lòng thử lại.');
                        }
                    });
                }
            });
        });
    </script>
}