@model _170516.Models.ProductIndexModel
@{
    ViewBag.Title = "Trang Chủ";
}

@*<a href="http://www.aaronvanderzwan.com/blog/2011/11/maximage-2-0-beta1-release/" id="logo"><img src="../lib/images/demo/logo.png" alt="MaxImage: Uses jQuery Cycle Plugin to create background slideshows" /></a>*@
<a href="" id="arrow_left"><img src="~/Content/Image/slider/arrow_left.png" alt="Slide Left" /></a>
<a href="" id="arrow_right"><img src="~/Content/Image/slider/arrow_right.png" alt="Slide Right" /></a>

<img id="cycle-loader" src="~/Content/Image/slider/ajax-loader.gif" />
<div id="maximage">
    <div>
        <img src="~/Content/Image/slider/wood_3.jpg" alt="" />
        <img id="gradient" src="~/Content/Image/slider/gradient.png" alt="" />
        <div class="in-slide-content" style="display:none;">
            <p>Vật liệu xây dựng tốt nhất</p>
        </div>
    </div>
    <img src="~/Content/Image/slider/steel_1.jpg" alt="" />
    <img src="~/Content/Image/slider/wood_1.jpg" alt="" />
    <img src="~/Content/Image/slider/wood_2.jpg" alt="" />

</div>


@section Scripts
{
    <script src="@Url.Content("~/Scripts/Home/index.js")"></script>
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $("footer").remove();

            $('#maximage').maximage({
                cycleOptions: {
                    fx: 'fade',
                    speed: 1000, // Has to match the speed for CSS transitions in jQuery.maximage.css (lines 30 - 33)
                    timeout: 0,
                    prev: '#arrow_left',
                    next: '#arrow_right',
                    pause: 1
                },
                onFirstImageLoaded: function () {
                    jQuery('#cycle-loader').hide();
                    jQuery('#maximage').fadeIn('fast');
                }
            });

            // Helper function to Fill and Center the HTML5 Video
            jQuery('video,object').maximage('maxcover');

            // To show it is dynamic html text
            jQuery('.in-slide-content').delay(1200).fadeIn();            
        });
    </script>
}


