@model List<_170516.Models.ProductMenuItem>

<div class="main clearfix">
    <div id="dl-menu" class="dl-menuwrapper">
        <ul class="dl-menu">
            @foreach (var item in Model)
            {
                <li><a href="@Url.Action('Index', 'Product', new { id = item.CategoryId })">@item.CategoryName</a></li>

                @if(item.HasSubMenu){
                    <ul class="dl-submenu">
                        <li><a href="#">temp</a></li>
                    </ul>
                }
            }
        </ul>
    </div>
</div>
