USE [master]
GO
/****** Object:  Database [ConstructionSite]    Script Date: 5/31/2016 4:45:36 PM ******/
CREATE DATABASE [ConstructionSite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConstructionSite', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ConstructionSite.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ConstructionSite_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ConstructionSite_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConstructionSite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConstructionSite]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/31/2016 4:45:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[EmailAddress] [nvarchar](max) NULL,
	[RoleID] [int] NULL,
	[HashToken] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ModifiedDate] [date] NOT NULL,
	[CreatedUserID] [int] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/31/2016 4:45:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ParentID] [int] NULL,
	[Image] [varbinary](max) NULL,
	[DateModified] [date] NOT NULL,
	[CreatedUserID] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/31/2016 4:45:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[District] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[ShipAddress] [nvarchar](50) NOT NULL,
	[ShipCity] [nvarchar](50) NOT NULL,
	[ShipDistrict] [nvarchar](50) NOT NULL,
	[ShipPhone] [nvarchar](50) NOT NULL,
	[DateEntered] [date] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/31/2016 4:45:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[ShipDate] [date] NOT NULL,
	[RequiredDate] [date] NOT NULL,
	[ShipperID] [int] NOT NULL,
	[Freight] [float] NOT NULL,
	[SalesTax] [money] NOT NULL,
	[OrderStatus] [nvarchar](50) NOT NULL,
	[IsFulfilled] [bit] NOT NULL,
	[IsCanceled] [bit] NOT NULL,
	[Paid] [money] NULL,
	[PaymentDate] [date] NULL,
	[ModifiedDate] [date] NOT NULL,
	[ModifiedUserID] [int] NULL,
 CONSTRAINT [PK_OrderID] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/31/2016 4:45:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [float] NULL,
	[Total] [money] NOT NULL,
	[Size] [int] NOT NULL,
	[IsFulfilled] [bit] NOT NULL,
	[ShipDate] [date] NULL,
	[PaidDate] [date] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/31/2016 4:45:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[Image] [varbinary](50) NULL,
	[ImageType] [nvarchar](5) NULL,
	[CategoryID] [int] NULL,
	[UnitsInStock] [int] NOT NULL,
	[UnitWeight] [float] NULL,
	[Discount] [float] NULL,
	[Size] [nvarchar](50) NULL,
	[UnitPrice] [money] NOT NULL,
	[UnitName] [nvarchar](50) NOT NULL,
	[Rating] [float] NOT NULL,
	[IsDiscountAvailable] [bit] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[SupplierID] [int] NULL,
	[DateModified] [date] NOT NULL,
	[CreatedUserID] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/31/2016 4:45:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 5/31/2016 4:45:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[ShipperID] [int] NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[District] [nvarchar](50) NULL,
 CONSTRAINT [PK_Shipper] PRIMARY KEY CLUSTERED 
(
	[ShipperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 5/31/2016 4:45:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[ContactFName] [nvarchar](50) NOT NULL,
	[ContactLName] [nvarchar](50) NOT NULL,
	[Address1] [nvarchar](50) NOT NULL,
	[Address2] [nvarchar](50) NULL,
	[City] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Fax] [nvarchar](50) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[Discount] [float] NOT NULL,
	[ProductType] [nvarchar](50) NOT NULL,
	[IsDiscountAvailable] [bit] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

GO
INSERT [dbo].[Account] ([AccountID], [Username], [Password], [FirstName], [LastName], [PhoneNumber], [EmailAddress], [RoleID], [HashToken], [IsActive], [ModifiedDate], [CreatedUserID], [Note]) VALUES (1, N'User0', N'jIiGyyTSV11Tvhp1hEo9Im09fwvmBgKuygYGQJEu2smWcgCbl8Rs83/LzKoJyrH8BfA4a72uNqsdKSqThn0TRQ==', N'User', N'0', N'607-153-2968', N'User_0.TEST@gmail.com', NULL, N'1B8HKZ3A8V', 1, CAST(0x723B0B00 AS Date), NULL, N'1B8HKZ3A8VVTJWFAJHF82W3W3GFHV6DASXFY8QFW7WSKQU6JLDVUQUCFILNDTVOBRVBWQQB3BSBGESFIK66SLSU7UAQXCBCLHQ25')
GO
INSERT [dbo].[Account] ([AccountID], [Username], [Password], [FirstName], [LastName], [PhoneNumber], [EmailAddress], [RoleID], [HashToken], [IsActive], [ModifiedDate], [CreatedUserID], [Note]) VALUES (2, N'User1', N'W1B3CrQIEZGCoKzhbCccMIGRjzOILR+GFqoOr2uVORW/Sqo0wsx4xt7Z58q5KQ/XCSM5K8ELhH+5PKj2THRB8g==', N'User', N'1', N'062-602-2477', N'User_1.TEST@gmail.com', NULL, N'D3K3I9UDEV', 1, CAST(0x723B0B00 AS Date), NULL, N'D3K3I9UDEVEHIVEZKAQ24W8HT3O1NLNV5YWPEW1AJPYZ6GXK4Y8AU8HR4DJPU3Z2ISMT8ZVYIQSO8JLMGE7ZNMB6RFUAMMPQZ5RN')
GO
INSERT [dbo].[Account] ([AccountID], [Username], [Password], [FirstName], [LastName], [PhoneNumber], [EmailAddress], [RoleID], [HashToken], [IsActive], [ModifiedDate], [CreatedUserID], [Note]) VALUES (3, N'User2', N'W1B3CrQIEZGCoKzhbCccMIGRjzOILR+GFqoOr2uVORW/Sqo0wsx4xt7Z58q5KQ/XCSM5K8ELhH+5PKj2THRB8g==', N'User', N'2', N'062-602-2477', N'User_2.TEST@gmail.com', NULL, N'D3K3I9UDEV', 1, CAST(0x723B0B00 AS Date), NULL, N'D3K3I9UDEVEHIVEZKAQ24W8HT3O1NLNV5YWPEW1AJPYZ6GXK4Y8AU8HR4DJPU3Z2ISMT8ZVYIQSO8JLMGE7ZNMB6RFUAMMPQZ5RN')
GO
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

GO
INSERT [dbo].[Category] ([CategoryID], [Name], [Description], [ParentID], [Image], [DateModified], [CreatedUserID], [IsActive]) VALUES (1, N'BRZXF591Q5769FL5Z1NFA09XWQU0N5ZNAESEOMQPWGMMX07AUZ', N'Y2SI7530Q8FO94E5948852KCCG33893FV07PFQ0MM0GTHXR1AV1CT2B5RQF0C92RF93J6ZZSDVWFW14OYB2NI1W2YC7ZK9KM7ZNI4I5L5I88G6J0V0CAHPIONAV42AIEKKH6NWUQFRR92XW23GET6J', NULL, NULL, CAST(0x723B0B00 AS Date), 144, 1)
GO
INSERT [dbo].[Category] ([CategoryID], [Name], [Description], [ParentID], [Image], [DateModified], [CreatedUserID], [IsActive]) VALUES (2, N'AU545GU3X8XC82EUAWJ173QX23CN0PD081OFKVL1XTM8XJI2TG', N'AU545GU3X8XC82EUAWJ173QX23CN0PD081OFKVL1XTM8XJI2TGESYGGHEHBCEHDH56DHN8JOKSENQRATUJ3TKUC1VHBDUJXQQEC0FBOV60HFC30WHSR4NT7L4MVG7G3B5X7LOJNT4IXUN7Z2QO5C22', NULL, NULL, CAST(0x723B0B00 AS Date), 255, 0)
GO
INSERT [dbo].[Category] ([CategoryID], [Name], [Description], [ParentID], [Image], [DateModified], [CreatedUserID], [IsActive]) VALUES (3, N'AU545GU3X8XC82EUAWJ173QX23CN0PD081OFKVL1XTM8XJI2TG', N'AU545GU3X8XC82EUAWJ173QX23CN0PD081OFKVL1XTM8XJI2TGESYGGHEHBCEHDH56DHN8JOKSENQRATUJ3TKUC1VHBDUJXQQEC0FBOV60HFC30WHSR4NT7L4MVG7G3B5X7LOJNT4IXUN7Z2QO5C22', NULL, NULL, CAST(0x723B0B00 AS Date), 279, 1)
GO
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Image], [ImageType], [CategoryID], [UnitsInStock], [UnitWeight], [Discount], [Size], [UnitPrice], [UnitName], [Rating], [IsDiscountAvailable], [IsAvailable], [SupplierID], [DateModified], [CreatedUserID]) VALUES (1, N'Gạch lát sàn', NULL, NULL, NULL, NULL, 10, 80, 0, N'50 X 50', 10000.0000, N'viên', 0, 0, 1, NULL, CAST(0x723B0B00 AS Date), NULL)
GO
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Image], [ImageType], [CategoryID], [UnitsInStock], [UnitWeight], [Discount], [Size], [UnitPrice], [UnitName], [Rating], [IsDiscountAvailable], [IsAvailable], [SupplierID], [DateModified], [CreatedUserID]) VALUES (2, N'F96F17ME486A2YQ6G8N1', N'', NULL, NULL, 182, 63, 0.28464848654561142, 0, N'85 X 28', 0.0438, N'vien', 0, 0, 1, 164, CAST(0x723B0B00 AS Date), 59)
GO
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Image], [ImageType], [CategoryID], [UnitsInStock], [UnitWeight], [Discount], [Size], [UnitPrice], [UnitName], [Rating], [IsDiscountAvailable], [IsAvailable], [SupplierID], [DateModified], [CreatedUserID]) VALUES (3, N'FCCLRI7GCCWG1LIVR4JN', N'FCCLRI7GCCWG1LIVR4JNMY3W1A4JIGR4CHKCEDSRSR6MUWODYL', NULL, NULL, 92, 6, 0.426565182128253, 0.54829086249148984, N'81 X 11', 0.1781, N'vien', 0, 1, 1, 172, CAST(0x723B0B00 AS Date), 148)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

GO
INSERT [dbo].[Supplier] ([SupplierID], [CompanyName], [ContactFName], [ContactLName], [Address1], [Address2], [City], [Phone], [Fax], [EmailAddress], [Discount], [ProductType], [IsDiscountAvailable]) VALUES (1, N'Supplier N72YNLKICS', N'N72YNLKICS', N'N72YNLKICS', N'N72YNLKICS5T0E4Z7IO55WUUSRCLBJHMH3ZSHCEBOFNMER94FC', N'N72YNLKICS5T0E4Z7IO55WUUSRCLBJHMH3ZSHCEBOFNMER94FC', N'Da Nang', N'276-508-3834', NULL, N'Supplier_0.TEST@gmail.com', 0, N'N72YNLKICS', NULL)
GO
INSERT [dbo].[Supplier] ([SupplierID], [CompanyName], [ContactFName], [ContactLName], [Address1], [Address2], [City], [Phone], [Fax], [EmailAddress], [Discount], [ProductType], [IsDiscountAvailable]) VALUES (2, N'Supplier OTDY53RN8U', N'OTDY53RN8U', N'OTDY53RN8U', N'OTDY53RN8URWMY3EUXTL6A2WFPDQD4U3WVXUGY4R1KZGNS7MVV', N'OTDY53RN8URWMY3EUXTL6A2WFPDQD4U3WVXUGY4R1KZGNS7MVV', N'Da Nang', N'340-513-8789', N'340-513-8789', N'Supplier_1.TEST@gmail.com', 0.33437415274529447, N'OTDY53RN8U', NULL)
GO
INSERT [dbo].[Supplier] ([SupplierID], [CompanyName], [ContactFName], [ContactLName], [Address1], [Address2], [City], [Phone], [Fax], [EmailAddress], [Discount], [ProductType], [IsDiscountAvailable]) VALUES (3, N'Supplier 0IKDD3XO8R', N'0IKDD3XO8R', N'0IKDD3XO8R', N'0IKDD3XO8RJELAAELU8SB7SI0Z5MS0RBCAIJQVVUB0593WNVG0', N'0IKDD3XO8RJELAAELU8SB7SI0Z5MS0RBCAIJQVVUB0593WNVG0', N'Da Nang', N'512-079-1026', N'512-079-1026', N'Supplier_2.TEST@gmail.com', 0, N'0IKDD3XO8R', NULL)
GO
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Account] FOREIGN KEY([CreatedUserID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([ModifiedUserID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Shipper] FOREIGN KEY([ShipperID])
REFERENCES [dbo].[Shipper] ([ShipperID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Shipper]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Account] FOREIGN KEY([CreatedUserID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Account]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [FK_Role_Account] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [FK_Role_Account]
GO
USE [master]
GO
