@model _170516.Models.LoginViewModel

@{
    ViewBag.Title = "Đăng nhập";
}

<div class="container">
    <div class="object-non-visible text-center animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">

        <div class="form-block center-block p-30 light-gray-bg border-clear">
            <!-- logo -->
            <div id="logo" class="logo logo-div">
                <h3 class="margin-clear">
                    <a href="@Url.Action("Index","Home")">
                    </a>
                </h3>
            </div>
            <!-- name-and-slogan -->
            <p class="small">MEICO COMPANY'S SLOGAN</p>
            <form class="form-horizontal text-left form-login" role="form" id="LoginForm">
                @Html.AntiForgeryToken()

                <div class="form-group has-feedback">
                    <label for="inputUserName" class="col-sm-3 control-label">Địa chỉ Email</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="Email" name="Email" placeholder="Địa Chỉ Email" required="">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="inputPassword" class="col-sm-3 control-label">Mật khẩu</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Mật Khẩu" required="">
                        <i class="fa fa-lock form-control-feedback"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="RememberMe" name="RememberMe" value="remember-me"> Nhớ thông tin đăng nhập
                            </label>
                        </div>
                        <button type="submit" id="LoginBtn" class="btn btn-group btn-default btn-animated" style=" margin-left 61px; margin-top 26px;">
                            Đăng Nhập <i class="fa fa-user"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- .subfooter start -->
        <!-- ================ -->
        <p class="mt-20">Copyright © 2015 by <a target="_blank" class="text-decoration-none" style="color:#B93C49;" href="#">THUAN NGUYEN HOANG</a>. All Rights Reserved</p>
        <!-- .subfooter end -->
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/Common/account.js")"></script>
}