<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Thêm Danh Mục Sản Phẩm</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal input-form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Danh Mục</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Mô Tả</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Danh Mục Chính</label>
                    <div class="col-sm-9">
                        <select class="form-control">
                            <option value="hello1">Hello 1</option>
                            <option value="hello1">Hello 2</option>
                            <option value="hello1">Hello 3</option>
                            <option value="hello1">Hello 1</option>
                            <option value="hello1">Hello 1</option>
                            <option value="hello1">Hello 1</option>
                            <option value="hello1">Hello 1</option>
                            <option value="hello1">Hello 1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary">Lưu</button>
        </div>
    </div>
</div>