@model _170516.Models.AccountModel

<ul class="nav navbar-nav navbar-right pull-right">
    <li class="dropdown user-box">
        <a href="" class="dropdown-toggle waves-effect waves-light profile " data-toggle="dropdown" aria-expanded="true">
            <img src="@Model.Avatar" alt="user-img" class="img-circle user-img">
            <div class="user-status away"><i class="zmdi zmdi-dot-circle"></i></div>
        </a>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0)"><i class="fa fa-user m-r-5"></i> Cá Nhân</a></li>
            <li><a href="@Url.Action("LogOff","Account")"><i class="fa fa-power-off m-r-5"></i> Đăng Xuất</a></li>
        </ul>
    </li>
</ul>
